/* Бек цвет #ffffff */
/* Цвет бека героя #2E2F42 */
/* Цвет заголовков и списка хедера #2E2F42 */
/* Цвет обычного текста и адреса   #434455 */
/* Цвет футера текста и Studio  #F4F4FD */
/* Цвет героя и кнопки #FFFFFF */
/* Цвет Web и кнопки #4D5AE5 */
/* Active text #404BBF */
/* Боди */

:root {
  --primary-text-color: #434455;
  --secondary-color-text: #2e2f42;
  --background-color: #ffffff;
  --accent-color: #404bbf;
  --primary-brand: #4d5ae5;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --secondary-background: #f4f4fd;
  --first-border-color: #8e8f99;
}
body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  letter-spacing: 0.02em;
}
*,
::after,
::before {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Basic-Stuff */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-all {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu {
  /* display: flex;
  align-items: center; */
}
/* ..........................................MOBILE.............................................. */
.mobile-menu-hamburger {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  margin-top: 24px;
  margin-bottom: 24px;
}
.hamburger {
  stroke: var(--secondary-color-text);
}
/* ................................................CLOSE-BTN-MOBILE............................................. */
.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.close-btn:hover,
.close-btn:focus {
  fill: #ffffff;
  border: none;
}
/* ........................................MOBILE-MENU................................................ */

.mob-menu {
  padding-right: 35px;
  padding-left: 40px;
  padding-top: 80px;
  padding-bottom: 40px;
  position: fixed;
  
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;

  background-color: var(--background-color);
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-family: var(--primary-font);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.mob-link {
  color: var(--secondary-color-text);
}
.mob-link:hover,
.mob-link:focus {
  color: var(--accent-color);
}
.mob-address-list {
  font-style: normal;
}
.mob-adress-menu {
  width: 100%;
  margin-bottom: 48px;
}
.mob-address-tel {
  display: block;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--primary-brand);

}
.mob-address-mail {
font-family: var(--primary-font);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;

color: #434455;
}
.mob-web-list {
  display: flex;
  gap: 56px;
}
/* Logo */
.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);

  /* padding-top: 24px;
  padding-bottom: 22px; */

  /* margin-right: 76px; */
}
.nav-logo {
  color: var(--secondary-color-text);
}
/* Nav */
.nav-menu {
  display: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.nav-menu .link {
  position: relative;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-menu .item:not(:last-child) {
  margin-right: 40px;
}
.nav-menu .nav-link:hover,
.nav-menu .nav-link:focus {
  color: var(--accent-color);
}

.nav-link {
  color: var(--secondary-color-text);
}
.current {
  color: var(--accent-color);
}
.current::after {
  position: absolute;
  display: none;
  content: "";
  background-color: var(--accent-color);
  top: 68px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
}
/* Adress */
.address .address-link:hover,
.address .address-link:focus {
  color: var(--accent-color);
}
.address {
  font-style: normal;
  margin-left: auto;
}
.address-list {
  display: none;
}
.address-list .item:not(:last-child) {
  margin-right: 40px;
}
.address .address-link {
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Links */
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}

/* Hero Main*/
.hero-section {
  max-width: 100%;
  height: 432px;
  padding-top: 112px;
  /* padding-bottom: 112px; */
  margin-bottom: 96px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-phone.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-section .hero-text {
  color: #ffffff;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 72px;
}
.hero-section .hero-buttom {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;

  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-section .hero-buttom:hover,
.hero-section .hero-buttom:focus {
  background-color: #404bbf;
}

/* Button Portfolio*/
.buttons-section {
  padding: 96px 0 120px;
}
.filters-buttons {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.filters-buttons .button-filter {
  color: var(--primary-brand);
  background-color: var(--secondary-background);
  cursor: pointer;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-filter:focus,
.button-filter:hover {
  background-color: #404bbf;
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Section */
.svg-back-features {
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 8px;
  width: 264px;
  height: 112px;
  background-color: var(--secondary-background);
}
.svg-features {
  width: 64px;
  height: 64px;
}
.features-title {
  position: absolute;
  justify-content: center;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-features {
  padding-bottom: 96px;
}
.section-features .features-head {
  display: flex;
  justify-content: center;

  color: var(--secondary-color-text);
  background-color: var(--fotter-textr);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.features-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.features-list .item {
  /* width: calc((100% - 72px) / 4); */
}
.example-title {
  padding-bottom: 120px;
}
.example-list {
  display: flex;
  gap: 24px;
}
.example-title .example-text {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-color-text);
  margin-bottom: 72px;
}
/* section team */
.team-image {
  background-color: var(--background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.section-team .team-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-color-text);
  background-color: var(--secondary-background);
}
.section-team .team-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}
.team-head {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color-text);
}
.team-text-all {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}
.section-team,
.team-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 8px;
}
.section-team {
  background-color: var(--secondary-background);
  padding-top: 96px;
  padding-bottom: 96px;
  margin-bottom: 96px;
}
.web-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.web-item {
  width: 40px;
  height: 40px;
}
.web-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.web-link:hover,
.web-link:focus {
  background-color: var(--accent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.web-icon {
  fill: var(--secondary-background);
}
.section-customers {
  padding-bottom: 96px;
}
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--secondary-color-text);
  text-align: center;
  margin-bottom: 72px;
}
.customers-list {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  column-gap: 12px;
  row-gap: 72px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  border: 1px solid var(--first-border-color);
  border-radius: 4px;

  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-item {
  width: calc((100%-120%) / 2);
  width: 190px;
  height: 88px;
}
.customers-svg:hover,
.customers-svg:focus {
  fill: var(--accent-color);
}
.customers-link:hover,
.customers-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.customers-svg {
  fill: currentColor;
}
.cards-title {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.card-title .item {
  /* width: 360px; */
  margin-bottom: 48px;
  width: calc((100% - 48px) / 3);
}
.cards-title .cards-head {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color-text);
}
.cards-title .cards-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.container-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.cards-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-link:hover,
.cards-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Footer */
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}
.footer {
  background-color: var(--secondary-color-text);
  color: var(--secondary-background);
  padding-bottom: 96px;
  padding-top: 96px;
}
.footer .footer-text {
  color: var(--secondary-background);
  font-size: 16px;
  line-height: 1.5;
  max-width: 268px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}
.footer-logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-brand);
  text-transform: uppercase;
}

.footer-logo-web {
  color: var(--primary-brand);
  color: var(--secondary-background);
}
.footer-container {
  /* display: flex;
    align-items: baseline;
    flex-wrap: wrap; */
  text-align: center;
}
.logo-container {
  margin-bottom: 72px;
  /* gap: 120px; */
}
.social-med {
  margin-bottom: 72px;
  /* margin-left: 120px; */
}
.social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color);
  margin-bottom: 16px;
}
.social-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: #31d0aa;
}
.social-svg {
  fill: var(--secondary-background);
}

.cards-link:hover,
.card-link:focus {
  transform: translateY(0%);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-bottom-info {
  position: relative;
  overflow: hidden;
}
.cards-link .cards-bottom-text {
  position: absolute;
  top: 0;
  left: 0;
  color: #f4f4fd;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  height: 100%;
  width: 360px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-link:hover .cards-bottom-text,
.cards-link:focus .cards-bottom-text {
  transform: translateY(0%);
}

.sub-bar {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.sub-form {
  /* display: flex;
  gap: 24px; */
}

.footer-label {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-input {
  width: 100%;
  height: 40px;
  margin-bottom: 16px;

  border: 1px solid #ffffff;
  background-color: transparent;

  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

.footer-input::placeholder {
  color: #ffffff;
}
.footer-form {
  /* margin-left: 80px;
  flex-direction: row; */
}

.footer-form input {
  background-color: transparent;
  border: none;
  height: 40px;
  border: 1px solid #ffffff;
  padding: 8px 16px;
  border-radius: 4px;
  outline: none;
}
.sub {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 24px;
  border-radius: 4px;

  background: #4d5ae5;
  color: #ffffff;
  border-style: none;
  min-width: 165px;
  cursor: pointer;
}

.telegram {
  fill: #ffffff;
  margin-left: 16px;
}
.sub:hover,
.sub:focus {
  background-color: #404bbf;
}

/* BACKDROP___________________________________________________- */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 392px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* padding: 72px 24px 24px; */
  padding: 72px 18px 24px 18px;
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: #ffffff;
  border: none;
}
/* ---------------------------------------------------------------------------Form-------------------------------------------------------------- */
.head-label {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-color-text);

  margin-bottom: 16px;
}
.modal-form {
  position: relative;
  flex-direction: column;
}

.modal-field {
  margin-bottom: 8px;
}
.input-label input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
}

.input-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: var(--primary-brand);
}

.modal-input:focus + .modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--primary-brand);
}

.input-wrap {
  position: relative;
  margin-bottom: 8px;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-comment {
  width: 100%;
  height: 120px;
  padding: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  margin-left: 8px;
}

.modal-comment:focus {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: var(--primary-brand);
}

.privacy {
  margin-bottom: 24px;
}

.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 24px;
  align-items: center;
}

.check {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
}

.modal-check:checked + .check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy:hover .check {
  border-color: var(--primary-brand);
}

.privacy-link {
  color: var(--primary-brand);
}

.close-btn-modal {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;

  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn-modal:hover,
.close-btn-modal:focus {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #404bbf;
}
.comment {
  margin-bottom: 16px;
}

/** -----------------------------------------------------------------------MEDIA-------------------------------------------------------- **/
/* .......................................................PHONE.............................................................. */
@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
  /* ....................................................HERO-PHONE............................................................................... */
  .hero-section {
    max-width: 428px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-phone-2x.jpg);
    }
  }
}
@media screen and (max-width: 427px) {
  .mob-address-tel {
    font-size: 25px;
  }
  .mob-web-list {
    justify-content: space-between;
  }
  
  @media screen and (max-width: 428px) {
.modal {
    width: 90%; }
}
}
@media screen and (max-width: 767px) {
  .mob-menu > .container {
    max-width: 100%;
    height: 100%;
    padding: 0;
  }
  /* .mob-menu > .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  } */
}
@media screen and (max-width: 1158px) {
  .svg-back-features {
    display: none;
  }
  .example-title {
    display: none;
  }
}
/* ....................................................TABLET................................................ */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /* ......................................................HEADER.................................................... */
  .nav .logo {
    margin-right: 120px;
  }
  .header-all {
    display: flex;
  }

  .header-menu {
    display: flex;
    align-items: center;
  }

  .nav-menu {
    display: flex;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }
  .nav-menu .link {
    position: relative;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding-top: 24px;
    padding-bottom: 24px;
  }

  .nav-menu .item:not(:last-child) {
    margin-right: 40px;
  }
  .address {
    align-items: center;
    font-style: normal;
    margin-left: 121px;
  }
  .address-list {
    display: block;
  }
  .address-list .item:not(:last-child) {
    /* margin-right: 40px; */
    margin-bottom: 12px;
  }
  .address .address-link {
    margin-left: auto;
    font-size: 12px;
    line-height: 1.17;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .current::after {
    display: inline;
  }
  .mobile-menu-hamburger {
    display: none;
  }
  .mob-menu {
    display: none;
  }

  /* ........................................................HERO-TABLET......................................................... */
  .hero-section {
    max-width: 768px;
    height: 436px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tablet.jpg);
  }

  .hero-section .hero-text {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tablet-2x.jpg);
    }
  }
  /* ..........................................................FEATURES-TABLET................................................ */
  .features-list .item {
    width: calc((100% - 72px) / 2);
  }
  .section-features .features-head {
    display: block;
  }
  /*................................................................ OUR-TEAM.................................................. */
  .section-team .team-card {
    gap: 24px;
  }
  /* .....................................CUSTOMERS............................................................................ */
  .customers-list {
    column-gap: 24px;
  }
  /* .....................................................................FOOTER.............................................. */
  .footer-container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    padding-left: 108px;
    text-align: left;
  }
  .logo-container {
    margin-right: 24px;
  }
  .sub-form {
    display: flex;
    align-items: baseline;
  }
  .footer-label {
    margin-right: 24px;
  }
  .footer-input {
    width: 264px;
    margin-bottom: auto;
  }
  /* MODAL */
  .modal {
    padding: 72px 25px 24px 23px;
    min-width: 408px;
    min-height: 584px;
}
}
/* ..............................................................DESKTOP......................................... */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  /* HEADER */
  .nav .logo {
    margin-right: 72px;
  }
  .address-list {
    display: flex;
  }
  .address-list .item:not(:last-child) {
    margin-right: 40px;
    margin-bottom: 0;
  }
  .address .address-link {
    font-size: 16px;
    line-height: 1.5; }
  .hero-section {
    max-width: 1440px;
    height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
    margin-bottom: 120px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
  }
  .hero-section .hero-text {
    margin-bottom: 48px;
  }
  /* FEATURES-DESKTOP */
  .features-list {
    gap: 24px;
    flex-wrap: nowrap;
  }
  .svg-back-features {
    display: flex;
  }
  .features-list .item {
    width: calc((100% - 20px) / 4);
  }
  .section-features {
    padding-bottom: 120px;
  }
  .section-features .features-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .features-text {
    font-weight: 400;
  }
  /* ........................................................OUR-TEAM.................................... */
  .section-team {
    padding-bottom: 120px;
    margin-bottom: 120px;
  }
  .section-team .team-card {
    flex-wrap: nowrap;
  }
  /* ............................................CUSTOMERS.......................................................... */
  .customers-list {
    gap: 24px;
    flex-wrap: nowrap;
  }
  /* ........................................FOOTER.......................................................................... */
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-container {
    padding-left: 0%;
  }
  .logo-container {
    margin-bottom: 0%;
    margin-right: 120px;
  }
  .social-med {
    margin-bottom: 0%;
    margin-right: 80px;
  }
  .sub-form {
    align-items: center;
  }
}
