/* Бек цвет #ffffff */
/* Цвет бека героя #2E2F42 */
/* Цвет заголовков и списка хедера #2E2F42 */
/* Цвет обычного текста и адреса   #434455 */
/* Цвет футера текста и Studio  #F4F4FD */
/* Цвет героя и кнопки #FFFFFF */
/* Цвет Web и кнопки #4D5AE5 */
/* Active text #404BBF */
/* Боди */

:root {
  --primary-text-color: #434455;
  --secondary-color-text: #2e2f42;
  --background-color: #ffffff;
  --accent-color: #404bbf;
  --primary-brand: #4d5ae5;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --secondary-background: #f4f4fd;
  --first-border-color: #8e8f99;
}
body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  letter-spacing: 0.02em;
}
*,
::after,
::before {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Basic-Stuff */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-all {
  display: flex;
}

.header-menu {
  display: flex;
  align-items: center;
}
/* Logo */
.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  margin-right: 76px;
}
.nav-logo {
  color: var(--secondary-color-text);
}
/* Nav */
.nav-menu {
  display: flex;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.nav-menu .link {
  position: relative;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-menu .item:not(:last-child) {
  margin-right: 40px;
}
.nav-menu .nav-link:hover,
.nav-menu .nav-link:focus {
  color: var(--accent-color);
}

.nav-link {
  color: var(--secondary-color-text);
}
.current {
  color: var(--accent-color);
  
}
.current::after {
  position: absolute;
    display: inline;
    content: "";
    background-color: var(--accent-color);
    top: 68px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -1px
} 
/* Adress */
.address .address-link:hover,
.address .address-link:focus {
  color: var(--accent-color);
}
.address {
  font-style: normal;
  margin-left: auto;
}
.address-list {
  display: flex;
}
.address-list .item:not(:last-child) {
  margin-right: 40px;
}
.address .address-link {
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Links */
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}

/* Hero Main*/
.hero-section {
  max-width: 100%;
  height: 432px;
  padding-top: 112px;
  /* padding-bottom: 112px; */
  margin-bottom: 96px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-section .hero-text {
  color: #ffffff;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 72px;
}
.hero-section .hero-buttom {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;

  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-section .hero-buttom:hover,
.hero-section .hero-buttom:focus {
  background-color: #404bbf;
}

/* Button Portfolio*/
.buttons-section {
  padding: 96px 0 120px;
}
.filters-buttons {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.filters-buttons .button-filter {
  color: var(--primary-brand);
  background-color: var(--secondary-background);
  cursor: pointer;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-filter:focus,
.button-filter:hover {
  background-color: #404bbf;
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}
/* Section */
.svg-back-features {
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 8px;
  width: 264px;
  height: 112px;
  background-color: var(--secondary-background);
}
.svg-features {
  width: 64px;
  height: 64px;
}
.features-title {
  position: absolute;
  justify-content: center;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-features {
  padding-bottom: 96px;
}
.section-features .features-head {
  display: flex;
  justify-content: center;

  color: var(--secondary-color-text);
  background-color: var(--fotter-textr);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.features-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.features-list .item {
  /* width: calc((100% - 72px) / 4); */
}
.example-title {
  padding-bottom: 120px;
}
.example-list {
  /* display: flex; */
  gap: 24px;
}
.example-title .example-text {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-color-text);
  margin-bottom: 72px;
}
/* section team */
.team-image {
  background-color: var(--background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.section-team {
  background-color: var(--secondary-background);
  padding-top: 120px;
    padding-bottom: 120px;
}
.section-team .team-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-color-text);
  background-color: var(--secondary-background);
}
.section-team .team-card {
  display: flex;
  gap: 24px;
}
.team-head {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color-text);
}
.team-text-all {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}
.section-team,
.team-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 8px;
}
.web-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.web-item {
  width: 40px;
  height: 40px;
}
.web-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.web-link:hover,
.web-link:focus {
  background-color: var(--accent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.web-icon {
  fill: var(--secondary-background);
}
.section-customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--secondary-color-text);
  text-align: center;
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
   color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--first-border-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-item {
  width: calc((100%-120%) / 6);
  width: 168px;
  height: 88px;
}
.customers-svg:hover,
.customers-svg:focus {
fill: var(--accent-color);
}
.customers-link:hover,
.customers-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.customers-svg {
  fill: currentColor;
}
.cards-title {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.card-title .item {
  /* width: 360px; */
  margin-bottom: 48px;
  width: calc((100% - 48px) / 3);
}
.cards-title .cards-head {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color-text);
}
.cards-title .cards-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.container-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.cards-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-link:hover,
.cards-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Footer */
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}
.footer {
  background-color: var(--secondary-color-text);
  color: var(--secondary-background);
  padding-bottom: 100px;
  padding-top: 100px;
}
.footer .footer-text {
  color: var(--secondary-background);
  font-size: 16px;
  line-height: 1.5;
  max-width: 264px;
}
.footer-logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-brand);
  text-transform: uppercase;
}

.footer-logo-web {
  color: var(--primary-brand);
  color: var(--secondary-background);
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.logo-container {
  gap: 120px;
}
.social-med {
  margin-left: 120px;
}
.social-text {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--background-color);
margin-bottom: 16px;
}
.social-list {
  display: flex;
  gap: 16px;
}
.social-link {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: #31d0aa;
}
.social-svg {
  fill: var(--secondary-background);
}

.cards-link:hover,
.card-link:focus {
  transform: translateY(0%);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.cards-bottom-info {
  position: relative;
  overflow: hidden;
  
}
.cards-link
.cards-bottom-text {
  position: absolute;
  top: 0;
  left: 0;
  color: #F4F4FD;
  background-color: #4D5AE5;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  height: 100%;
  width: 360px;
  
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-link:hover .cards-bottom-text,
.cards-link:focus .cards-bottom-text {
  transform: translateY(0%); 
}

.sub-bar {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.sub-form {
  display: flex;
  gap: 24px;
}

.footer-label {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

.footer-input::placeholder {
  color: #ffffff;
}
.footer-form {
  margin-left: 80px;
  flex-direction: row;
}

.footer-form input {
  background-color: transparent;
  border: none;
  height: 40px;
  border: 1px solid #ffffff;
  padding: 8px 16px;
  border-radius: 4px;
  outline: none;
}
.sub {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 24px;
  border-radius: 4px;

  background: #4d5ae5;
  color: #ffffff;
  border-style: none;
  min-width: 165px;
  cursor: pointer;
}

.telegram {
  fill: #ffffff;
  margin-left: 16px;
}
.sub:hover,
.sub:focus {
  background-color: #404bbf;
  
}

/* BACKDROP___________________________________________________- */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px;
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: #ffffff;
  border: none;
}
/* ---------------------------------------------------------------------------Form-------------------------------------------------------------- */
.head-label {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-color-text);

  margin-bottom: 16px;
}
.modal-form {
  position: relative;
  flex-direction: column;
}

.modal-field {
  margin-bottom: 8px;
}
.input-label input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
}

.input-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: var(--primary-brand);
}

.modal-input:focus + .modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--primary-brand);
}

.input-wrap {
  position: relative;
  margin-bottom: 8px;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-comment {
  width: 100%;
  height: 120px;
  padding: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  margin-left: 8px;
}

.modal-comment:focus {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: var(--primary-brand);
}

.privacy {
  margin-bottom: 24px;
}

.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 24px;
  align-items: center;
}

.check {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
}

.modal-check:checked + .check-text span {
  background-color:#404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy:hover .check {
  border-color: var(--primary-brand);
}

.privacy-link {
  color: var(--primary-brand);
}

.close-btn-modal {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;

  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn-modal:hover,
.close-btn-modal:focus {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #404bbf;
}
.comment {
  margin-bottom: 16px;
}

/** -----------------------------------------------------------------------MEDIA-------------------------------------------------------- **/

@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
  .hero-section {
    max-width: 428px;
  }
  .svg-back-features {
    display: none;
  }
}
@media screen and (min-width: 768px) {

  .container {
    max-width: 768px;
  }
  .hero-section {
    max-width: 768px;
    height: 436px;
  }
  .hero-section .hero-text {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .hero-section {
    max-width: 1440px;
    height: 600px;
  }
}